<!DOCTYPE html>
<html>
  <head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title><%= title %></title>


    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="plugins/photoswipe/dist/photoswipe.css" />
    <link rel="stylesheet" href="plugins/photoswipe/dist/default-skin/default-skin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.css">    

    <!-- CSS Icons -->
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="css/themes/theme-blue.css" />
    

  </head>

  <body class="header-horizontal dark-overlay">
    <div id="body-wrapper">      
      <!-- Header -->
      <%- include partials/navBar.ejs %>
    
      <!-- Content -->
      <div id="content">
        <!-- Section / Home -->
        <section id="home" class="section h-fullheight bg-dark cover dark">
            <!-- Slider Main -->
            <div class="slider-main slider-kenburns inner-controls">
                <%  for (var i=0; i<data.sliders.length; i++) {%>
                    <div class="slide">
                        <div class="slide-bg bg-image-holder bg-image-fixed">
                            <img src="<%= data.sliders[i] %>" alt="">
                        </div>
                        <div class="slide-content container text-center">
                            <!-- <h1>Toàn cảnh khách sạn</h1> -->
                        </div>
                    </div>
                <% } %>
            </div>
            
            <!-- Slider Navigation -->
            <div class="slider-main-nav">
                <%  for (var i=0; i<data.sliders_thumb.length; i++) {%>
                    <div class="slide"><img src="<%= data.sliders_thumb[i] %>" alt=""></div>    
                <% } %>
            </div>
  
            <!-- Gallery Toggle -->
            <a href="#" class="fullscreen-toggle" data-items="gallerySliderItems" data-toggle="gallery">
                <span class="arrow-tl"></span>
                <span class="arrow-tr"></span>
                <span class="arrow-br"></span>
                <span class="arrow-bl"></span>
            </a>
        </section>  
  
        <!-- Section / About -->
        <section id="about" class="section">
  
            <div class="container">
                <div class="row gutters-lg align-items-center">
                    <div class="col-lg-4">
                        <span class="badge badge-default mb-5"><i class="fa fa-check-circle text-success"></i><%= translation.intro_hotel4star %></span>
                        <h1 class="mb-0">GALINA PREMIUM HOTEL</h1>
                        <p class="lead text-muted mb-5"><%= translation.intro_st %></p>
                        <!-- Feature #1 -->
                        <div class="feature feature-1 mb-0">
                            <i class="icon icon-primary ti ti-home animated" data-animation="fadeInDown"></i>
                            <div class="feature-content">
                                <h6 class="mb-0 text-muted"><%= translation.intro_NOR %></h6>
                                <span class="h3">163</span>
                            </div>
                        </div>
                        <hr class="hr-sm">
                        <!-- Feature #1 -->
                        <div class="feature feature-1">
                            <i class="icon icon-primary ti ti-fullscreen animated" data-animation="fadeInDown" data-animation-delay="200"></i>
                            <div class="feature-content">
                                <h6 class="mb-0 text-muted"><%= translation.intro_square %></h6>
                                <span class="h3">960m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                        <img class="rounded shadow" src="img/hotel/galina-hotel.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6" data-local-scroll>
                        <p class="lead"><%= translation.intro_line1 %></p>
                        <p><%= translation.intro_line2 %></p>
                        <a href="#rooms" class="btn btn-primary animated" data-animation="fadeIn">Check rooms list</a>
                    </div>
                </div>
            </div>
  
        </section>
  
        <!-- Section / rooms -->
        <%- include partials/hotelPage/roomSection.ejs %>  

        <!-- Section / Features -->
        <section id="features" class="section">
  
            <div class="container">
                <div class="row align-items-center" data-local-scroll>
                    <div class="col-lg-4">
                        <h1><%=  translation.utilities %></h1>
                        <p class="lead mb-5"><%=  translation.utilities_intro %></p>
                        <!-- Feature #1 -->
                        <div class="feature feature-1">
                            <i class="icon icon-primary ti ti-cup"></i>
                            <div class="feature-content">
                                <h5 class="mb-0"><%=  translation.utilities_room %></h5>
                                <p class="text-muted"><%=  translation.utilities_room_detail %></p>
                            </div>
                        </div>
                        <!-- Feature #1 -->
                        <div class="feature feature-1">
                            <i class="icon icon-primary ti ti-shine"></i>
                            <div class="feature-content">
                                <h5 class="mb-0"><%=  translation.utilities_room_other %></h5>
                                <p class="text-muted"><%=  translation.utilities_room_other_detail %></p>
                            </div>
                        </div>
                        <a href="#gallery" class="btn btn-secondary mb-4"><%=  translation.gallery %></a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Card -->
                        <div class="card">
                            <img src="img/hotel/restaurant.jpg" alt="" class="card-image">
                            <div class="card-block">
                                <h5 class="mb-0"><%=  translation.utilities_buffet %></h5>
                                <p class="text-muted mb-0"><%=  translation.utilities_buffet_intro %></p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="card">
                            <img src="img/hotel/gym.jpg" alt="" class="card-image">
                            <div class="card-block">
                                <h5 class="mb-0"><%=  translation.utilities_gym %></h5>
                                <p class="text-muted mb-0"><%=  translation.utilities_gym_detail %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Card -->
                        <div class="card">
                            <img src="img/hotel/hoboi.jpg" alt="" class="card-image">
                            <div class="card-block">
                                <h5 class="mb-0"><%=  translation.utilities_pool %></h5>
                                <p class="text-muted mb-0"><%=  translation.utilities_pool_detail %></p>
                            </div>
                        </div>
                        <!-- Card -->
                        <div class="card">
                            <img src="img/hotel/spa.jpg" alt="" class="card-image">
                            <div class="card-block">
                                <h5 class="mb-0"><%=  translation.utilities_mudbath_spa %></h5>
                                <p class="text-muted mb-0"><%=  translation.utilities_mudbath_spa_detail %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </section>
  
        <!-- Section / Gallery -->
        <section id="gallery" class="section bg-black cover dark">
  
            <h2 class="sr-only"><%=  translation.gallery %></h2>
  
            <div class="carousel-gallery">
                <% for (var i=0; i<gallery.length; i++) {%>
                    <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="0"><img src="<%= gallery[i] %>" alt=""></a>
                <% } %>
            </div>
  
        </section>
  
          <!-- Section / Promotion -->
      <section id="promotion" class="section bg-light pt-0 pb-5">
  
              <!-- Objects - Search -->
              <div class="objects-search bg-dark dark">
                  <div class="bg-image-holder bg-image-fixed zooming"><img src="img/photos/search-bg.jpg" alt=""></div>
                  <div class="container">
                      <h1 class="mb-1"> <%=  translation.promotion %> </h1>
                      <p class="lead text-muted"><%=  translation.promotion_intro %></p>
                      <hr>
                  </div>
              </div>
      
              <div class="objects-container container">
                  <div class="text-right">
                      <!-- Objects - Change Display -->
                      <!-- <ul class="nav nav-view" role="tablist">
                          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#grid_view"><i class="fa fa-th"></i></a></li>
                          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#list_view"><i class="fa fa-th-list"></i></a></li>
                      </ul> -->
                  </div>
                  <div class="tab-content">
                      <div id="grid_view" class="tab-pane fade show active" role="tabpanel">
                          <!-- Objects - Grid-->
                          <div class="objects-grid gutters-sm row">
                              <div class="col-lg-3 col-6">
                                  <!-- Object - Vertical -->
                                  <div class="object object-vertical">
                                      <div class="object-image">
                                          <a class="link-inherit" href="object.html"><img src="img/hotel/room-superior.jpg" alt=""></a>
                                      </div>
                                      <div class="object-content">
                                          <h5 class="object-title"><a class="link-inherit" href="object.html">Honeymoon </a></h5>
                                          <ul class="object-details list-unstyled">
                                              <li><span class="text-muted"><%=  translation.promotion_pack_duration %>   </span> 3 <%= translation.day %> 4 <%= translation.night %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_room %>       </span> Supperior</li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_no_guest %>   </span> 02 <%= translation.guest %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_food %>       </span> <%= translation.promotion_pack_food_detail %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_mudbath %>    </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_spa %>         </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_galinashow %>  </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_tour %>        </span> <%= translation.no %></li>
                                          </ul>
                                          <span class="badge badge-default mb-3"><i class="fa fa-check-circle text-success"></i><%=  translation.promotion_pack_saving %> 2.800.000 VND</span>
                                          <span class="object-price">5.200.000 VND <sup> <%=  translation.package %></sup> </span>
                                          <a href="/booking?service=hotel" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span><%=  translation.detail %></a>
                                      </div> 
                                  </div>
                              </div>
                              <div class="col-lg-3 col-6">
                                  <!-- Object - Vertical -->
                                  <div class="object object-vertical">
                                      <div class="object-image">
                                          <a class="link-inherit" href="object.html"><img src="img/hotel/room-deluxe.jpg" alt=""></a>
                                      </div>
                                      <div class="object-content">
                                          <h5 class="object-title">
                                              <a class="link-inherit" href="object.html">Couple Young</a>
                                              <i class="fa fa-check-circle text-success ml-2" data-toggle="tooltip" data-placement="top" title="Best choice!"></i>
                                          </h5>
                                          <span class="badge badge-default mb-3"><i class="fa fa-check-circle text-success"></i><%= translation.promotion_pack_airplan_included_tag  %></span>
                                          <ul class="object-details list-unstyled">
                                              <li><span class="text-muted"><%=  translation.promotion_pack_duration %>                  </span> 3 <%= translation.day %> 4 <%= translation.night %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_room %>                      </span> Deluxe</li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_airticket %>              </span> <%=  translation.promotion_pack_airplan_included %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_no_guest %>   </span> 02 <%= translation.guest %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_food %>       </span> <%= translation.promotion_pack_food_detail %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_mudbath %>    </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_spa %>         </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_galinashow %>  </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_tour %>                 </span> Tứ Hải, Vinpearl</li>
                                          </ul>
                                          <span class="badge badge-default mb-3"><i class="fa fa-check-circle text-success"></i><%=  translation.promotion_pack_saving %> 3.800.000 VND</span>
                                          <span class="object-price">5.200.000 VND <sup> <%=  translation.package %></sup> </span>
                                          <a href="/booking?service=hotel" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%=  translation.detail %></a>
                                      </div> 
                                  </div>
                              </div>
                              <div class="col-lg-3 col-6">
                                  <!-- Object - Vertical -->
                                  <div class="object object-vertical">
                                      <div class="object-image">
                                          <a class="link-inherit" href="#"><img src="img/hotel/room-suite-city.jpg" alt=""></a>
                                      </div>
                                      <div class="object-content">
                                          <h5 class="object-title"><a class="link-inherit" href="object.html">Love again</a></h5>
                                          <ul class="object-details list-unstyled">
                                              <li><span class="text-muted"><%=  translation.promotion_pack_duration %>   </span> 3 <%= translation.day %> 4 <%= translation.night %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_room %>       </span> Supperior</li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_no_guest %>   </span> 02 <%= translation.guest %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_food %>       </span> <%= translation.promotion_pack_food_detail %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_mudbath %>    </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_spa %>         </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_galinashow %>  </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_tour %>                 </span> Tứ Hải, Vinpearl</li>
                                          </ul>
                                          <span class="badge badge-default mb-3"><i class="fa fa-check-circle text-success"></i><%=  translation.promotion_pack_saving %> 7.800.000 VND</span>
                                          <span class="object-price">6.200.000 VND <sup> <%=  translation.package %></sup> </span>
                                          <a href="/booking?service=hotel" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%=  translation.detail %></a>
                                      </div> 
                                  </div>
                              </div>
                              <div class="col-lg-3 col-6">
                                  <!-- Object - Vertical -->
                                  <div class="object object-vertical">
                                      <div class="object-image">
                                          <a class="link-inherit" href="object.html"><img src="img/hotel/room-suite-sea.jpg" alt=""></a>
                                      </div>
                                      <div class="object-content">
                                          <h5 class="object-title">
                                              <a class="link-inherit" href="object.html">Vitamin Sea</a>
                                              <i class="fa fa-check-circle text-success ml-2" data-toggle="tooltip" data-placement="top" title="Best choice!"></i>
                                          </h5>
                                          <ul class="object-details list-unstyled">
                                              <li><span class="text-muted"><%=  translation.promotion_pack_duration %>   </span> 3 <%= translation.day %> 4 <%= translation.night %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_room %>       </span> Supperior</li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_no_guest %>   </span> 02 <%= translation.guest %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_food %>       </span> <%= translation.promotion_pack_food_detail %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_mudbath %>    </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_spa %>         </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_galinashow %>  </span> 02 <%= translation.ticket %></li>
                                              <li><span class="text-muted"><%=  translation.promotion_pack_tour %>        </span> <%= translation.no %></li>
                                          </ul>
                                          <span class="badge badge-default mb-3"><i class="fa fa-check-circle text-success"></i><%=  translation.promotion_pack_saving %> 12.800.000 VND</span>
                                          <span class="object-price">7.200.000 VND <sup> <%=  translation.package %></sup> </span>
                                          <a href="/booking?service=hotel" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%=  translation.detail %></a>
                                      </div> 
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                  </div>
                </div>
      
          </section>   
  
        <!-- Section / Who we are? -->
        <section id="who-we-are" class="section">
  
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <figure class="media-box">
                            <div class="image"><img src="img/hotel/about-hdg.jpg" alt=""></div>
                            <button class="btn-play animated visible" data-animation="fadeInUp" data-toggle="video-modal" data-target="#modalVideo" data-video="https://www.youtube.com/embed/AD-D6uSYkqs"></button>
                        </figure>
                    </div>
                    
                    <div class="col-lg-5 push-lg-1 col-md-6">
                        <h1>HAI DANG GROUP</h1>
                        <ul class="nav nav-icons" role="tablist">
                            <li class="nav-item"><a href="#tab_about" data-toggle="tab" class="nav-link active"><i class="ti-comment"></i><%=  translation.introduce %></a></li>
                            <li class="nav-item"><a href="#tab_history" data-toggle="tab" class="nav-link"><i class="ti-time"></i><%=  translation.brand %> </a></li>
                        </ul>
                        <div class="tab-content" data-local-scroll>
                            <div id="tab_about" class="tab-pane fade show active" role="tabpanel">
                                <p class="lead"><%=  translation.introduce_line1 %></p>
                                <p class="mb-5"><%=  translation.introcuce_line2 %></p>
                                <a href="#contact" class="btn btn-primary mb-4"><%=  translation.contact %></a>
                            </div>
                            <div id="tab_history" class="tab-pane" role="tabpanel">
                                <p class="lead"><%=  translation.brand_line1 %></p>
                                <p class="mb-5"><%=  translation.brand_line2 %></p>
                                <a href="#contact" class="btn btn-primary mb-4"><%=  translation.contact %></a>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
  
        </section>
      
        <!-- Section / Contact -->
        <section id="contact" class="section section-double bg-light">
  
            <div class="row">
                <div class="content col-xl-4 col-md-5">
                    <h2 class="mb-0"> <%= translation.contact_head %> <br> <%= translation.with_us %></h2>
                    <hr class="hr-primary">
                    <address>
                      <%= translation.street %><br>
                      <%= translation.ward %><br>
                      <%= translation.city %><br>
                    </address>
                    <p class="lead">
                        E: <a class="link-inherit" href="#" style="font-size:1rem; font-weight: bold;">booking@haidanggroup.com</a><br>
                        P: <span style="font-size:1rem; font-weight: bold;">+84 901 7000 89</span>
                    </p>
                    <a href="#" target="_blank" class="icon icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="icon icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                    <a href="#" class="icon icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="icon icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                    <a href="#" class="icon icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                </div>
                <div class="image col-xl-8 col-md-7">
                    <!-- <div id="google-map" class="bg-map" data-latitude="12.255900" data-longitude="109.195280" data-style="wy"></div> -->
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="960" height="560" id="gmap_canvas" src="https://maps.google.com/maps?q=galina%20hotel%20nha%20trang%20viet%20nam&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:560px;width:960px;}.gmap_canvas {overflow:hidden;background:none!important;height:560px;width:960px;}</style></div>
                </div>
            </div>
  
        </section>
  
      
      </div> <!-- END CONTENT -->
  
      <!-- Footer -->
        <footer id="footer" class="footer-fixed bg-dark dark">
  
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-2 text-center text-md-left mb-5 mb-md-0">
                        <a href="#"><img src="img/logo-light.svg" width="120" alt=""></a>
                    </div>
                    <div class="col-md-10 text-center text-md-right">
                        <ul class="nav nav-footer mr-4">
                            <li><a href="#" class="active">HOTEL</a></li>
                            <li><a href="#">MUD BATH & SPA</a></li>
                            <li><a href="#">WEDDING & CONVENTION</a></li>
                            <li><a href="#">SHOW</a></li>
                            <li><a href="#">LAKE VIEW</a></li>
                        </ul>
                        <ul class="nav nav-footer">
                          <li><a id="lang-vi" class="lang lang-vi" href="/?clang=vi">VN</a></li>
                          <li><a id="lang-en" class="lang lang-en active" href="/?clang=en">EN</a></li>
                          <li><a id="lang-rus" class="lang lang-rus" href="/?clang=rus">RUS</a></li>
                          <li><a id="lang-kr" class="lang lang-kr" href="/?clang=kr">KR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </footer>
        <!-- Footer / End -->
        
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
            attribution=setup_tool
            page_id="663509893691742"
            theme_color="#3F2233">
        </div>

        <!-- Body Overlay -->
        <div id="body-overlay"></div>
  
    </div> <!-- END BODY WRAPPER -->
  
    <!-- Panel - Objects -->
    <%- include partials/panelBar.ejs %>
    
    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close dark" data-dismiss="modal"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>
  
  
  <!-- LOAD CORE SCRIPT THEME -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="plugins/animsition/dist/js/animsition.min.js"></script>
  <script src="plugins/tether/dist/js/tether.min.js"></script>
  <script src="plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="plugins/jquery.appear/jquery.appear.js"></script>
  <script src="plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
  <script src="plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
  <script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="plugins/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="plugins/photoswipe/dist/photoswipe.min.js"></script>
  <script src="plugins/photoswipe/dist/photoswipe-ui-default.min.js"></script>
  <script src="plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/plugins/rangePlugin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
  <!-- JS Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  
  <!-- JS Core -->
  <script src="js/core.js"></script>
  
  </body>
</html>
