<!DOCTYPE html>
<html>
  <head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title><%= title %></title>


    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon_152x152.png">

    <!-- CSS library load -->
    <%- include partials/styleSection.ejs %>

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="css/themes/theme-blue.css" />
    

  </head>

  <body class="header-horizontal dark-overlay">
    <div id="body-wrapper">      
      <!-- Header -->
      <%- include partials/navBar.ejs %>
    
      <!-- Content -->
      <div id="content">
        <!-- Section / Home -->
        <%- include partials/hotelPage/sliderSection.ejs %>  
  
        <!-- Section / About -->
        <%- include partials/hotelPage/aboutSection.ejs %>  
  
        <!-- Section / rooms -->
        <%- include partials/hotelPage/roomSection.ejs %>  

        <!-- Section / Features -->
        <%- include partials/hotelPage/featureSection.ejs %>  
  
        <!-- Section / Gallery -->
        <%- include partials/hotelPage/gallerySection.ejs %>  
  
        <!-- Section / Promotion -->
        <%- include partials/hotelPage/promotionSection.ejs %>      
  
        <!-- Section / Who we are? -->
        <%- include partials/wwaSection.ejs %>      
      
        <!-- Section / Contact -->
        <%- include partials/contactSection.ejs %>      
      
    </div> <!-- END CONTENT -->
    
    <!-- Section / Footer -->
    <%- include partials/footerSection.ejs %>  

    <!-- Body Overlay -->
    <div id="body-overlay"></div>
  
    </div> <!-- END BODY WRAPPER -->
  
    <!-- Panel - Objects -->
    <%- include partials/panelBar.ejs %>
    
    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close dark" data-dismiss="modal"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>
  
  
  <!-- Script library for page -->
  <%- include partials/scriptSection.ejs %>  
  
  </body>
</html>
