<!DOCTYPE html>
<html>
  <head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title><%= title %></title>


    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon_152x152.png">

    <!-- CSS library load -->
    <%- include partials/styleSection.ejs %>

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="css/themes/theme-blue.css" />
    

  </head>

  <body class="header-horizontal dark-overlay">
    <div id="body-wrapper">      
        <!-- Header -->
        <%- include partials/navBar.ejs %>
        <!-- Content -->
        <div id="content">
            <!-- SLIDER-->
            <%- include partials/showPage/sliderSection.ejs %>  

            <!-- ABOUT-->
            <%- include partials/showPage/aboutSection.ejs %>  
        </div> <!-- END CONTENT -->

    <!-- Footer -->
    <footer id="footer" class="footer-fixed bg-dark dark">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 text-center text-md-left mb-5 mb-md-0">
                    <a href="#"><img src="img/logo-light.svg" width="120" alt=""></a>
                </div>
                <div class="col-md-10 text-center text-md-right">
                    <ul class="nav nav-footer mr-4">
                        <li><a href="#" class="active">HOTEL</a></li>
                        <li><a href="#">MUD BATH & SPA</a></li>
                        <li><a href="#">WEDDING & CONVENTION</a></li>
                        <li><a href="#">SHOW</a></li>
                        <li><a href="#">LAKE VIEW</a></li>
                    </ul>
                    <ul class="nav nav-footer">
                        <li><a id="lang-vi" class="lang lang-vi" href="/?clang=vi">VN</a></li>
                        <li><a id="lang-en" class="lang lang-en active" href="/?clang=en">EN</a></li>
                        <li><a id="lang-rus" class="lang lang-rus" href="/?clang=rus">RUS</a></li>
                        <li><a id="lang-kr" class="lang lang-kr" href="/?clang=kr">KR</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </footer>
        <!-- Footer / End -->
        
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
            attribution=setup_tool
            page_id="663509893691742"
            theme_color="#3F2233">
        </div>

        <!-- Body Overlay -->
        <div id="body-overlay"></div>

    </div> <!-- END BODY WRAPPER -->

    <!-- Panel - Objects -->
    <%- include partials/panelBar.ejs %>
    
    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close dark" data-dismiss="modal"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>
    
    
    <!-- Script library for page -->
    <%- include partials/scriptSection.ejs %>  
    
    </body>
</html>
        